#Visual Studio
obj
bin
*.user
*.suo
/packages/*
/TestResults/*
!packages/repositories.config
/Backup/*
UpgradeLog.htm

# Vagrant
.vagrant

# Paket
.paket/paket.exe
.paket/Paket.Restore.targets

#FAKE
**/.fake/*
build_output*
test_results/*

#Misc
*.orig
.DS_Store
SW.Mosaic.UI.Web/App_Data/*
Cukes/browsers
Cukes/docker-compose-local.yml

SW.Mosaic.Client.ScaleInstaller/.idea/*
SW.Mosaic.Client.ScaleInstaller/Squirrel.Windows-0.99.2/SquirrelSetup.log
node_modules
build/*
package/*
**/npm-debug.log
**/.idea/*.xml
**/.idea/*iml
**/.idea/scopes/**
**/.idea/.rakeTasks
**/.idea/inspectionProfiles/**
Cukes/.idea
.vs
.idea/*
Cukes/.idea/runConfigurations/Run_All_Javascript_Tests.xml
Cukes/.idea/runConfigurations/Run_All_Javascript_Tests.xml
paket-files/paket.restore.cached
**/Thumbs.db
*.log

/Cukes/.idea/libraries/Mosaic_Scripts.xml
